[project]
	description = code, exercises, and experiments for Algorithms (4th Edition) 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rgrewal
[access "refs/for/refs/*"]
	read = group user/rgrewal
	push = group user/rgrewal
	label-Code-Review = -2..+2 group user/rgrewal
	label-Verified = -1..+1 group user/rgrewal
	rebase = group user/rgrewal
	removeReviewer = group user/rgrewal
	submit = group user/rgrewal
[access "refs/heads/*"]
	read = group user/rgrewal
	create = group user/rgrewal
	push = +force group user/rgrewal
	pushMerge = group user/rgrewal
[access "refs/tags/*"]
	push = +force group user/rgrewal
	pushTag = group user/rgrewal
	pushSignedTag = group user/rgrewal
